@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3></h3>

                        <p>Số lượng doanh nghiệp</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="~/DoanhNghiep" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3></h3>

                        <p>Số lượng thông báo đơn giá</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="~/ThongBaoDonGiaThueDat" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3></h3>

                        <p>Số lượng thông báo tiền thuê đất</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3></h3>

                        <p>Sắp đến hạn</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href=""~/ThongBaoTienThueDat" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Sắp hết thời hạn ổn định đơn giá</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table id="tblThongBaoDonGiaThueDatSapHetHan" class="table" style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 5%">STT</th>
                                <th style="width: 45%">Tên doanh nghiệp</th>
                                <th style="width: 20%">Số thông báo</th>
                                <th style="width: 20%">Ngày hết hạn</th>
                                <th style="width: 10%">Còn lại</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->


        <div class="col-md-12">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Sắp hết thời hạn miễn tiền thuê đất</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table id="tblQuyetDinhMienTienThueDatSapHetHan" class="table" style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 5%">STT</th>
                                <th style="width: 45%">Tên doanh nghiệp</th>
                                <th style="width: 20%">Số thông báo</th>
                                <th style="width: 20%">Ngày hết hạn</th>
                                <th style="width: 10%">Còn lại</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-12">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Sắp hết thời hạn hợp đồng</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table id="tblHopDongSapHetHan" class="table" style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 5%">STT</th>
                                <th style="width: 45%">Tên doanh nghiệp</th>
                                <th style="width: 20%">Số hợp đồng</th>
                                <th style="width: 20%">Ngày hết hạn</th>
                                <th style="width: 10%">Còn lại</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>


</section>
<script>
    const API_URL = @Json.Serialize(@Configuration.GetSection("BaseAddress").Value);
    window.localStorage.setItem('API_URL', API_URL);
    window.localStorage.setItem('ACCESS_TOKEN', '@Context.Session.GetString("AccessToken")');
    window.localStorage.setItem('HoTen', '@Context.Session.GetString("HoTen")');
    window.localStorage.setItem('UserName', '@Context.Session.GetString("UserName")');


</script>
@section Scripts{
    <script src="~/js/controller/DashBoardControl.js"></script>
}
